@import "../../variables";

.latest-stats-item {
  cursor: pointer;
  text-align: center;
  padding: 2rem 0px;
  width: 90%;
  margin: auto;
  height: 70vh;

  span {
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin: 0.2rem auto;

  }

  .wind-arrow {
    height: 30%;
    margin: 5% auto;
    max-width: 400px;

    img {
      width: 42%;
      max-width: 200px;
    }
  }

  h1 {
    margin: 0rem auto 1rem;

    .wind-speed-label {
      font-size: 1.4rem;
    }

    .wind-speed {
      font-size: 4rem;
      color: $noSailColor;
    }

    &.windy .wind-speed {
      color: $toSailColor;
    }
  }


  h2 {
    margin: 0px auto;
    font-size: 1.1rem;
  }

  h3 {
    margin: auto 0rem;

    .wind-gust {
      color: $noSailColor;
    }

    &.windy .wind-gust {
      color: $toSailColor;
    }
  }

  h6 {
    font-weight: bolder;
    color: $noSailColor;
    font-size: 1.4rem;
    margin: 0px auto;
    margin: 0.5rem auto 0em;

    &.Onshore {
      color: $toSailColor;
    }
  }


  > * {
    width: 100%;
    text-align: center;
  }

  .created-time {
    position: absolute;
    width: auto;
    right: 10px;
    padding: 3px 10px;
    font-size: 0.85em;
  }

  .id-hidden {
    display: none;
  }


  button {
    background: none;
    font-size: 1.5em;
    line-height: 2.5em;
    width: 100%;
    padding: 0px;
    outline: none;
    font-family: 'Oswald', arial, sans-serif;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;

    span {
      height: 1px;
      width: 80%;
      display: block;
      margin: 0px 10%;
    }

  }
}


@media (min-width: 600px) {

  .latest-stats-item {
    .wind-arrow {
      margin: 1.5rem auto;
    }
  }

}