
$lightGreen: #67e08b;

.orders-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  column-gap: 4%;
  margin: 0px 4%;
}

.order-item {
  background: white;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 0px 1px #c1c1c37d;
  position: relative;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }

  > * {
    width: 100%;
    text-align: center;
  }

  .created-time{
    position: absolute;
    background: $lightGreen;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: auto;
    right: 10px;
    padding: 3px 10px;
    font-size: 0.85em;
  }

  .id-hidden{
    display: none;
  }

  h1{
    font-size: 1em;
    font-weight: bolder;
    margin: 50px auto 20px;
    text-transform: uppercase;
  }

  img{
    width: 45%;
    border-radius: 100%;
    border: 5px solid #e6e6e685;
  }

  h2{
    font-size: 1.4em;
    font-weight: bolder;
    margin: 30px auto 10px;
  }

  h3{
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0px auto 16px;
  }

  button{
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 2.5em;
    width: 100%;
    padding: 0px;
    outline: none;
    font-family: 'Oswald', arial, sans-serif;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;

    span{
      border-top: 1px solid gray;
      height: 1px;
      width: 80%;
      display: block;
      margin: 0px 10%;
    }

  }
}