.spinner-container {
  width: 100%;
  display: grid;
  align-items: center;
  height: 100vh;

  img {
    max-width: 8rem;
    width: 50%;
    margin: auto;
  }
}

.stats-container {
  width: 100%;
  display: inline-block;
  align-items: center;
  height: 100vh;

  position: relative;
  z-index: 99;
}

.stats-slider{
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 4%;
}